In [1]:
import pandas as pd
import numpy

In [2]:
df_air = pd.read_csv("air.csv")
df_air.head()

,county,fips,year,ozonePersonDayMon,ozoneDayStdMon,ozoneDayStdMod,ozoneAvgMod,ozoneModelFlag,pm25AvgMon,pm25PersonDayMon,pm25PctMon,pm25AvgMod,pm25ModelFlag,hasMonitor,hasOzoneMonitor,hasPm25Monitor,Unnamed: 16
0,Aitkin,27001.0,2017.0,No data available,No data available,NaN,34.0,NaN,No data available,No data available,No data available,5.5,NaN,n,n,n,NaN
1,Anoka,27003.0,2017.0,0,0,NaN,35.0,NaN,7.4,0,0,7.9,NaN,y,y,y,NaN
2,Becker,27005.0,2017.0,0,0,NaN,34.0,NaN,5.1,0,0,6.2,NaN,y,y,y,NaN
3,Beltrami,27007.0,2017.0,No data available,No data available,NaN,34.0,NaN,5.7,0,0,6.7,NaN,y,n,y,NaN
4,Benton,27009.0,2017.0,No data available,No data available,NaN,34.0,NaN,No data available,No data available,No data available,6.5,NaN,n,n,n,NaN

In [3]:
df_air.columns

Index(['county', 'fips', 'year', 'ozonePersonDayMon', 'ozoneDayStdMon',
       'ozoneDayStdMod', 'ozoneAvgMod', 'ozoneModelFlag', 'pm25AvgMon',
       'pm25PersonDayMon', 'pm25PctMon', 'pm25AvgMod', 'pm25ModelFlag',
       'hasMonitor', 'hasOzoneMonitor', 'hasPm25Monitor', 'Unnamed: 16'],
      dtype='object')

In [4]:
df_air.drop(columns = ['fips', 'year', 'ozonePersonDayMon', 'ozoneDayStdMon','ozoneDayStdMod' ,'ozoneModelFlag', 'pm25AvgMon',
       'pm25PersonDayMon', 'pm25PctMon', 'pm25ModelFlag',
       'hasMonitor', 'hasOzoneMonitor', 'hasPm25Monitor', 'Unnamed: 16'], inplace = True)
df_air.head()

     county  ozoneAvgMod  pm25AvgMod
0    Aitkin         34.0         5.5
1     Anoka         35.0         7.9
2    Becker         34.0         6.2
3  Beltrami         34.0         6.7
4    Benton         34.0         6.5

In [5]:
df_air.tail(22)

,county,ozoneAvgMod,pm25AvgMod
86,Yellow Medicine,36.0,6.0
87,Note: The National Ambient Air Quality Standar...,NaN,NaN
88,* No Data Available. (Monitor data are not av...,NaN,NaN
89,micrograms per cubic meter = micrograms per cu...,NaN,NaN
90,ppb = parts per billion,NaN,NaN
91,Person-days are calculated as: (% of days abov...,NaN,NaN
92,standard = US EPA National Ambient Air Quality...,NaN,NaN
93,Monitor data are levels of PM2.5 and ozone mea...,NaN,NaN
94,These data are available only for counties wit...,NaN,NaN
95,Modeled air data are estimated levels of PM2.5...,NaN,NaN
96,Modeled air estimates may differ from the air ...,NaN,NaN
97,These data can not be used to show regulatory ...,NaN,NaN
98,Source:,NaN,NaN
99,Minnesota Public Health Data Access,NaN,NaN
100,Minnesota Environmental Public Health Tracking...,NaN,NaN
101,Minnesota Department of Health,NaN,NaN
102,P.O. Box 64882,NaN,NaN
103,"St. Paul, MN 55164-0882",NaN,NaN
104,Phone: (651) 201-5900 or toll free: 1-800-205-...,NaN,NaN
105,Fax: (651) 201-5926,NaN,NaN
106,E-mail: tracking.health@state.mn.us,NaN,NaN
107,Web: https://apps.health.state.mn.us/mndata/,NaN,NaN

In [6]:
df_air_clean = df_air.iloc[:87]
df_air_clean.tail()

             county  ozoneAvgMod  pm25AvgMod
82         Watonwan         36.0         6.7
83           Wilkin         34.0         6.6
84           Winona         36.0         7.5
85           Wright         35.0         7.1
86  Yellow Medicine         36.0         6.0

In [7]:
df_air_clean.rename(columns = {"ozoneAvgMod": "ozone_ppb","pm25AvgMod": "pm25"}, inplace = True)
df_air_clean.head()

C:\Users\rolis\AppData\Local\Temp\ipykernel_5352\774524843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_air_clean.rename(columns = {"ozoneAvgMod": "ozone_ppb","pm25AvgMod": "pm25"}, inplace = True)

     county  ozone_ppb  pm25
0    Aitkin       34.0   5.5
1     Anoka       35.0   7.9
2    Becker       34.0   6.2
3  Beltrami       34.0   6.7
4    Benton       34.0   6.5

In [8]:
df_air_clean.dtypes

county        object
ozone_ppb    float64
pm25         float64
dtype: object

In [9]:
# checking for null values
df_air_clean.isnull().sum()

county       0
ozone_ppb    0
pm25         0
dtype: int64

In [10]:
df_air_clean.to_json("air_pollutants.json", orient = "records")